{{#each members}}
    <h1>{{surname}}, {{firstname}}</h1>
    <p>
        Address: {{address}}
    </p>
    <p>
        Zip code: {{zipcode}}
    </p>
    <p>
        Telephone: {{telephone}}
    </p>
{{/each}}